<?xml version="1.0" encoding="UTF-8"?>

<web-app xmlns="http://java.sun.com/xml/ns/javaee"
         xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
         version="3.0">

    <distributable />

    <filter>
        <filter-name>noCacheFilter</filter-name>
        <filter-class>org.sourceid.servlet.filter.NoCacheFilter</filter-class>
    </filter>

    <filter>
        <filter-name>proxyFilter</filter-name>
        <filter-class>org.sourceid.websso.servlet.ProxyFilter</filter-class>
    </filter>

    <filter>
        <filter-name>WsTrustClientCertAuthFilter</filter-name>
        <filter-class>org.sourceid.wstrust.bindings.WsTrustClientCertAuthFilter</filter-class>
    </filter>

    <filter>
        <filter-name>WsTrustBasicAuthFilter</filter-name>
        <filter-class>org.sourceid.wstrust.bindings.WsTrustBasicAuthFilter</filter-class>
    </filter>

    <filter>
        <filter-name>SimultaneousAuthnRequestCheckingFilter</filter-name>
        <filter-class>org.sourceid.servlet.filter.SimultaneousAuthnRequestCheckingFilter</filter-class>
    </filter>
	
	<filter>
        <filter-name>responseHeaderRuntimeFilter</filter-name>
        <filter-class> org.sourceid.websso.servlet.ResponseHeaderRuntimeFilter</filter-class>
    </filter>

    <filter>
        <filter-name>OAuthClientSettingEnabledFilter</filter-name>
        <filter-class>com.pingidentity.rest.oauth.clientregistration.filters.OAuthClientSettingEnabledFilter</filter-class>
    </filter>

    <filter-mapping>
        <filter-name>OAuthClientSettingEnabledFilter</filter-name>
        <url-pattern>/as/clients.oauth2/*</url-pattern>
    </filter-mapping>

    <filter>
        <filter-name>cross-origin-filter</filter-name>
        <filter-class>org.sourceid.servlet.filter.CrossOriginFilter</filter-class>
    </filter>

    <filter>
        <filter-name>HttpRequestHeaderFilter</filter-name>
        <filter-class>org.sourceid.servlet.filter.HttpRequestHeaderFilter</filter-class>
    </filter>

    <filter>
        <filter-name>HttpRequestIdFilter</filter-name>
        <filter-class>org.sourceid.servlet.filter.HttpRequestIdFilter</filter-class>
    </filter>

    <filter>
        <filter-name>HttpRequestParameterFilter</filter-name>
        <filter-class>org.sourceid.servlet.filter.HttpRequestParameterFilter</filter-class>
    </filter>

    <filter>
        <filter-name>HttpRequestStatisticsFilter</filter-name>
        <filter-class>org.sourceid.servlet.filter.HttpRequestStatisticsFilter</filter-class>
    </filter>

    <filter>
        <filter-name>executionContextFilter</filter-name>
        <filter-class>com.pingidentity.common.util.access.ExecutionContextFilter</filter-class>
        <init-param>
            <param-name>execution.context.name</param-name>
            <param-value>RUNTIME</param-value>
        </init-param>
    </filter>

    <filter>
        <filter-name>RuntimeServiceSetFilter</filter-name>
        <filter-class>org.sourceid.servlet.filter.RuntimeServiceSetFilter</filter-class>
    </filter>

    <filter>
        <filter-name>servletRequestCleanupFilter</filter-name>
        <filter-class>org.sourceid.servlet.filter.RuntimeServletRequestCleanupFilter</filter-class>
    </filter>

    <!-- This filter should go first to ensure runtime threads always use the active service set -->
    <filter-mapping>
        <filter-name>RuntimeServiceSetFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>proxyFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpRequestIdFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>noCacheFilter</filter-name>
        <servlet-name>err</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>noCacheFilter</filter-name>
        <servlet-name>ProprietaryController</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>noCacheFilter</filter-name>
        <servlet-name>controller</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>noCacheFilter</filter-name>
        <servlet-name>CommonDomainServiceController</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>noCacheFilter</filter-name>
        <servlet-name>adapter-ext</servlet-name>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SimultaneousAuthnRequestCheckingFilter</filter-name>
        <url-pattern>/idp/prp.wsf</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SimultaneousAuthnRequestCheckingFilter</filter-name>
        <url-pattern>/idp/SSO.saml2</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>SimultaneousAuthnRequestCheckingFilter</filter-name>
        <url-pattern>/idp/isx.saml1</url-pattern>
    </filter-mapping>
    
    <filter-mapping>
		<filter-name>SimultaneousAuthnRequestCheckingFilter</filter-name>
		<url-pattern>/pf/adapter2adapter.ping</url-pattern>
	</filter-mapping>

    <filter-mapping>
        <filter-name>SimultaneousAuthnRequestCheckingFilter</filter-name>
        <url-pattern>/as/authorization.oauth2</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>WsTrustClientCertAuthFilter</filter-name>
        <url-pattern>*.wst</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>WsTrustBasicAuthFilter</filter-name>
        <url-pattern>*.wst</url-pattern>
    </filter-mapping>

	<filter-mapping>
        <filter-name>responseHeaderRuntimeFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>cross-origin-filter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpRequestHeaderFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpRequestParameterFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>HttpRequestStatisticsFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>executionContextFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <filter-mapping>
        <filter-name>servletRequestCleanupFilter</filter-name>
        <url-pattern>/*</url-pattern>
    </filter-mapping>

    <servlet>
        <servlet-name>init</servlet-name>
        <servlet-class>org.sourceid.websso.servlet.InitServlet</servlet-class>
        <load-on-startup>1</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Proprietary Controller for PingFederate</display-name>
        <servlet-name>ProprietaryController</servlet-name>
        <servlet-class>org.sourceid.websso.servlet.IntegrationControllerServlet</servlet-class>
        <load-on-startup>2</load-on-startup>
    </servlet>

    <servlet>
        <display-name>PingFederate Protocol Controller</display-name>
        <servlet-name>controller</servlet-name>
        <servlet-class>org.sourceid.websso.servlet.ProtocolControllerServlet</servlet-class>
        <load-on-startup>3</load-on-startup>
    </servlet>

    <servlet>
        <display-name>Common Domain Service Controller</display-name>
        <servlet-name>CommonDomainServiceController</servlet-name>
        <servlet-class>org.sourceid.websso.servlet.CommonDomainServiceControllerServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>err</servlet-name>
        <servlet-class>org.sourceid.servlet.ErrorServlet</servlet-class>
        <init-param>
            <param-name>template</param-name>
            <param-value>general.error.page.template.html</param-value>
        </init-param>
    </servlet>

    <servlet>
        <servlet-name>adapter-ext</servlet-name>
        <servlet-class>org.sourceid.websso.servlet.adapter.AdapterExtServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>JerseyAPI</servlet-name>
        <servlet-class>com.sun.jersey.spi.container.servlet.ServletContainer</servlet-class>

        <init-param>
            <param-name>com.sun.jersey.config.property.packages</param-name>
            <param-value>com.pingidentity.rest.oauth.clientregistration</param-value>
        </init-param>

    </servlet>

    <servlet>
        <servlet-name>ManageLocalIdentity</servlet-name>
        <servlet-class>com.pingidentity.localidentity.servlet.LocalIdentityManagementServlet</servlet-class>
    </servlet>

    <servlet>
        <servlet-name>assets</servlet-name>
        <servlet-class>org.eclipse.jetty.servlet.DefaultServlet</servlet-class>
        <init-param>
            <param-name>acceptRanges</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>dirAllowed</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>gzip</param-name>
            <param-value>false</param-value>
        </init-param>
        <init-param>
            <param-name>cacheControl</param-name>
            <param-value>max-age=0, must-revalidate</param-value>
        </init-param>
    </servlet>
    <servlet>
        <servlet-name>last-init</servlet-name>
        <servlet-class>org.sourceid.websso.servlet.DeferredInitServlet</servlet-class>
        <load-on-startup>100</load-on-startup>
    </servlet>

    <servlet-mapping>
        <servlet-name>err</servlet-name>
        <url-pattern>/error</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ProprietaryController</servlet-name>
        <url-pattern>*.ping</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.saml2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.ssaml2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.wsf</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.saml1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.ssaml1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.wst</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.oauth2</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.ciba</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>*.openid</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/pf/JWKS</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ManageLocalIdentity</servlet-name>
        <url-pattern>/pf/idprofile.ping</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>ManageLocalIdentity</servlet-name>
        <url-pattern>/pf/id/verification.ping</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>controller</servlet-name>
        <url-pattern>/.well-known/openid-configuration</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>CommonDomainServiceController</servlet-name>
        <url-pattern>*.cdc</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>adapter-ext</servlet-name>
        <url-pattern>/ext/*</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>assets</servlet-name>
        <url-pattern>/assets/*</url-pattern>
    </servlet-mapping>

    <servlet-mapping>
        <servlet-name>JerseyAPI</servlet-name>
        <url-pattern>/as/clients.oauth2/*</url-pattern>
    </servlet-mapping>

    <error-page>
        <error-code>500</error-code>
        <location>/error</location>
    </error-page>

    <security-constraint>
        <web-resource-collection>
            <web-resource-name>Enable all methods except for TRACE</web-resource-name>
            <url-pattern>/*</url-pattern>
            <http-method>GET</http-method>
            <http-method>POST</http-method>
            <http-method>PUT</http-method>
            <http-method>DELETE</http-method>
            <http-method>CONNECT</http-method>
            <http-method>PATCH</http-method>
            <http-method>HEAD</http-method>
            <http-method>OPTIONS</http-method>
        </web-resource-collection>
    </security-constraint>

</web-app>
